<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.0/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation du Produit</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="p-3 mb-2 bg-secondary text-white text-center">
    <h1 class="display-4">Creation du produit</h1>
</header>
<main class="container py-5">
    <form th:action="@{saveProduit}" method="post">
        <div class="mb-3">
            <label for="nomProduit" class="form-label">Nom du produit:</label>
            <input type="text" id="nomProduit" name="nom" class="form-control">
        </div>

        <div class="mb-3">
            <label for="prixProduit" class="form-label">Prix du produit:</label>
            <input type="number" id="prixProduit" name="prix" class="form-control">
        </div>

        <div class="mb-3">
            <label for="quantiteProduit" class="form-label">Quantité du produit:</label>
            <input type="number" id="quantiteProduit" name="quantite" class="form-control" min="0">
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</main>
<footer class="p-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="listProduits" class="text-white">Liste des produits</a>
            </div>
            <div class="col-md-6 text-end">
                .
            </div>
        </div>
    </div>
</footer>

<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
